In [2]:
import numpy as np

In [5]:
l = [1, 2, 3, 4]
array = np.array(l, dtype='f4', ndmin=2)
print(type(array))
print(array)

<class 'numpy.ndarray'>
[[1. 2. 3. 4.]]

In [17]:
l = [[1, 2], [1, 4]]
l2 = [(1, 2), (3, 3)]
array = np.array(l2, dtype=np.dtype([('score1', 'i4'), ('score2', 'i4')]), ndmin=2)
print(type(array))
print(array['score2'])
print(array.size)

<class 'numpy.ndarray'>
[[2 3]]
2

In [28]:
m1 = np.array([[1, 2], [3, 4], [5, 6]], dtype='i4')
m2 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]], dtype='i4')
m3 = np.array([1, 1, 1]).reshape(1, 3)
print(np.split(m2, [1, 2], axis=1))

[array([[1],
       [4],
       [7]]), array([[2],
       [5],
       [8]]), array([[3],
       [6],
       [9]])]

In [29]:
import pandas as pd

In [31]:
s1 = pd.Series([11, 22, 33])
print(s1)
print(type(s1))

0    11
1    22
2    33
dtype: int64
<class 'pandas.core.series.Series'>

In [45]:
s2 = pd.Series({12: 22, 22: 345, 53: 90})
s2
print()
df = pd.DataFrame(np.random.randn(3, 4))
print(df.sort_index(axis=1, ascending=False))

          3         2         1         0
0  0.379484 -0.581869 -0.199947 -0.608286
1  0.451933  1.440820 -0.227997 -0.713255
2  0.228950 -0.889183  0.330193  0.258344

In [65]:
df2 = pd.DataFrame({'D': [3, 2, 1], 'E': [2, 3, 4], 'F': [3, 4, 5]})
df2.sort_values(by=0, axis=1, ascending=False)

   D  F  E
0  3  3  2
1  2  4  3
2  1  5  4

In [82]:
df2['D'] > 2

0     True
1    False
2    False
Name: D, dtype: bool

In [87]:
print(1 == True)
print(1 is True)
print(isinstance(1, bool))

True
False
False